.navbar{
    background-color: rgb(255,255,255) !important;
}
.navbar .navbar-brand{
    color : #000;
    font-weight: bolder;
    font-size: 2.0em;
}
.navbar .navbar-brand:hover{
    color: #000;
}

.navbar .dropdown-menu{

    background-color: rgba(255,255,255,1);
}

.navbar form button{
    background-color: rgba(255,255,255,0.3);
    color:#FFF;
   
    border:0;
}


.navbar {
   font-size: 17px;
   padding: .0rem .3rem;
}

.navbar form button:hover {
background-color: rgba(53,50,59,1);
}

.navbar form button {
background-color: rgba(53,50,59,1);
color: rgba(255,255,255,1);
border: 0;
}

.navbar .nav-item a {
color: rgba(209,95,59,1) !important;
}


body.daadminbody {
    border: 0px;
    margin: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}

.da-pad-for-navbar {
    padding-top: 60px;
    padding-bottom: 0px;
}

h1 {
  color: rgba(241,93,36,1);
}

.bg-dark {
background-color: rgba(26,25,25,1)!important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {

color: #fff;
background-color: rgba(241,93,36,1);
border-color: rgba(241,93,36,1);
}

.btn-primary {
color: #fff;
background-color: rgba(241,93,36,1);
border-color: rgba(241,93,36,1);
}

.btn-primary:hover {
color: #fff;
background-color: rgba(88,193,214,1);
border-color: rgba(88,193,214,1);
}

.btn-secondary {
color: #fff;
background-color: rgba(39,94,126,1);
border-color: rgba(39,94,126,1);
}

.btn-secondary:hover {
color: #fff;
background-color: rgba(88,193,214,1);
border-color: rgba(88,193,214,1);
}

.text-muted {
color: rgba(241,93,36,1)!important;
}

.navbar .navbar-brand {
color: #000;
font-weight: bolder;
font-size: 1.2em;
}

.h2, h2 {
font-size: 1.4rem;
color: rgba(241,93,36,1);
}

table {
  width: 100%;
}

.progress-bar {
color: #fff;
background-color: rgba(39,94,126,1);
}

.navbar form button {
background-color: rgba(26, 25, 25, 1);
color: rgba(255,255,255,1);
border: 0;
}

.mt-2, .my-2 {
margin-top: 2.5rem!important;
}

img.mr-3 {
height: 70px;
}

.da-page-header {
padding-bottom: 5px;
margin: 35px 0 10px;
border-bottom: 1px solid #eee;
}

.dropdown-item:hover{
    background-color: rgba(255,255,255,1);
}
