/* Set padding, font*/
.navbar{
    font-size: 17px;
    padding: .0rem .3rem;
}

/* Navbar text formatting (eg. login email top right) */
.navbar .nav-item a {
color: rgba(209,95,59,1) !important;
}

/* Back button formatting  */
.text-muted {
color: rgba(241,93,36,1)!important;
}

.navbar form button:hover {
background-color: rgba(26,25,25,1);
}

.navbar form button {
background-color: rgba(26, 25, 25, 1);
color: rgba(241,93,36,1);
border: 0;
}

/* Space formatting */
.da-pad-for-navbar {
    padding-top: 60px;
    padding-bottom: 0px;
}

/* Button formatting */
.btn-primary {
color: #fff;
background-color: rgba(241,93,36,1);
border-color: rgba(241,93,36,1);
}

.btn-primary:hover {
color: #fff;
background-color: rgba(88,193,214,1);
border-color: rgba(88,193,214,1);
}


.btn-secondary {
color: #fff;
background-color: rgba(39,94,126,1);
border-color: rgba(39,94,126,1);
}

.btn-secondary:hover {
color: #fff;
background-color: rgba(88,193,214,1);
border-color: rgba(88,193,214,1);
}

.btn-warning {
color: rgba(255,255,255,1);
background-color: rgba(88,193,214,1);
border-color: rgba(88,193,214,1);
}

.btn-warning:hover {
color: rgba(255,255,255,1);
background-color: rgba(241,93,36,1);
border-color: rgba(241,93,36,1);
}

/* Text heading formatting */
h1 {
  color: rgba(241,93,36,1);
}

.h2, h2 {
font-size: 1.4rem;
color: rgba(39,94,126,1);
}

/* Progress bar formatting */
.progress-bar {
color: #fff;
background-color: rgba(39,94,126,1);
}

/* Top margin formatting */
.mt-2, .my-2 {
margin-top: 2.5rem!important;
}

/* Image height formatting */
img.mr-3 {
height: 70px;
}


/* navbar backgroud  */
.bg-dark {
background-color: rgba(26,25,25,1)!important;
}

.da-page-header {
padding-bottom: 5px;
margin: 35px 0 10px;
border-bottom: 1px solid #eee;
}

/* navbar button size  */
.navbar .navbar-brand {
color: #000;
font-weight: bolder;
font-size: 1.4em;
}


body.daadminbody {
    border: 0px;
    margin: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}
